{% extends "base.html" %}
{% block title %}ChatBot{% endblock %}
{% block content %}
<div class="talk line">
  {% for his in history %}
  {% if his.role == "user" %}
  <div class="speech_bubble right">
    {{ his.content }}
  </div>
  {% elif his.role == "assistant" %}
  <div class="speech_bubble left">
    <img class="icon" src="{{ url_for('static', filename='waifu.png') }}" />
    {% autoescape False %}
    {{ his.content }}
    {% endautoescape %}
  </div>
  {% endif %}
  {% endfor %}
  <!--ロード画面-->
  <div id="loading" style="display: none;">
    <div class="speech_bubble right">
      <div id="inMessage"></div>
    </div>
    <div class="speech_bubble left">
      <div id="repling">
        <div class="ball-pulse"><div></div><div></div><div></div></div>
      </div>
    </div>
  </div><!--loading-->
</div>
{% endblock %}
